#root {
  text-align: center;
  width: 100%;
}

body{
  background-color: #007491;
}

header .navbar {
  background-color: #007491;
}

main {
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  background-color: #076981;
  justify-content: center;
}